.main {
	padding-top: 50px;
	background-image: url(../images/phoenix/common/main-bg.jpg?v=101);
	background-repeat: no-repeat;
	background-position: 50% 0;
} /*content*/ /*detail-box*/
.detail-box {
	padding: 0 0 20px;
}

.detail-con {
	padding: 15px 0px;
}

.detail-con .hd h1 {
	padding: 0px 20px;
	font-size: 20px;
	line-height: 32px;
	color: #000;
}

.author {
	padding: 5px 20px;
}

.author-lay {
	width: 42px;
	height: 22px;
	vertical-align: 0px;
	color: #FFF;
	text-align: center;
	background-position: 0px -70px;
	margin-right: 5px;
	_margin-right: 3px;
}

.author .gray {
	padding-left: 10px;
}

.tit-bar {
	width: 100%;
	height: 32px;
	padding: 10px 0px 0px;
	border-bottom: 1px solid #C6C6C6;
	z-index: 100;
}

.title-nav {
	padding-left: 10px;
	height: 32px;
	float: left;
	position: relative;
	bottom: -1px;
	overflow: hidden;
}

.title-nav ul {
	_display: inline;
}

.title-nav ul li {
	float: left;
	padding-left: 10px;
	height: 32px;
	margin-top: -1px;
}

.title-nav ul li.select {
	margin-top: 0px;
}

.title-nav ul li.select a span {
	color: #ED5E58;
}

.title-nav ul li a:hover span {
	color: #ED5E58;
}

.tit-bar .share {
	float: right;
	padding: 6px 20px 6px 0px;
}

.detail-con .bd {
	padding: 20px;
}

.invideocon {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 38px;
}

.article {
	font-size: 14px;
}

.article h2 {
	font-weight: bold
}

.article p,.article h2 {
	padding: 11px 0;
}

.article p {
	font-size: 14px;
}

.article h2 {
	font-size: 20px;
	font-weight: bold;
	color: #000;
}

.article img {
	display: block;
	margin: 0 auto;
	max-width: 588px;
} /*sidebar*/
.btn-inte {
	text-align: center;
	padding: 10px 0px;
	height: 48px;
}

.btn-inte .btn-base span {
	width: 125px;
	padding: 0px 5px 0px 0px;
}

.btn-inte .btn-red-h48 {
	margin-right: 10px;
}

.icon-sup,.icon-like {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	_margin: 10px 0px;
}

.icon-sup {
	background-position: 0px -91px;
}

.icon-like {
	background-position: -27px -91px;
}

.item-detail {
	position: relative;
}

.item-detail .tag {
	position: absolute;
	right: -11px;
	top: 12px;
}

.item-detail h2 {
	line-height: 30px;
	font-size: 16px;
	padding: 5px 20px;
}

.item-sum {
	font-size: 40px;
	line-height: 46px;
	color: #000;
	padding: 10px 20px 0;
	font-family: Arial;
}

.item-sum em {
	font-size: 20px;
	font-family: 'Microsoft YaHei', STXihei, MingLiu;
}

.item-tips {
	font-size: 15px;
	padding: 15px 20px;
}

.ratio-box {
	height: 34px;
	border-top: 1px dashed #e4e4e4;
	border-bottom: 1px dashed #e4e4e4;
	padding: 0px 20px;
}

.ratio-box .ratio-bar {
	float: left;
}

.ratio-val {
	line-height: 34px;
	float: right;
}

.like-bar {
	width: 100%;
	text-align: center;
	padding: 10px 0px;
}

.detail-rate {
	padding: 20px 0px 15px;
	overflow: hidden;
	width: 308px;
}

.detail-rate p {
	text-align: center;
	font-size: 14px;
}

.detail-rate p em {
	color: #000;
}

.detail-rate ul {
	width: 313px;
}

.detail-rate ul li {
	width: 103px;
	height: 52px;
	font-size: 14px;
	float: left;
	border-right: 1px solid #d3d3d3;
	text-align: center;
}

.detail-rate ul li strong {
	font-size: 18px;
	color: #000;
	width: 100%;
	font-weight: normal;
	display: block;
}

.prepare {
	width: 268px;
	padding: 15px 20px 15px;
	border-top: 1px dashed #E4E4E4;
}

.prepare p {
	font-size: 14px;
}

.support-list {
	padding: 0px 0px 15px;
}

.support-list .hd {
	padding: 10px 20px 15px;
	border-bottom: 1px dashed #E4E4E4;
}

.support-list .hd h3 {
	font-size: 18px;
	color: #000;
	float: left;
}

.support-list .bd {
	padding: 20px 20px 0px;
	font-size: 14px;
}

.support-list .bd select {
	margin-top: 20px;
	padding: 6px;
	color: #555;
	border: 1px solid #e4e4e4;
}

.prf-piclist {
	padding-top: 20px;
	overflow: hidden;
}

.prf-time {
	padding: 0 0 10px;
	font-size: 12px;
}

.prf-piclist ul li {
	float: left;
	padding: 0px 20px 20px 0px;
}

.prf-piclist ul li img {
	width: 47px;
	height: 47px;
}

.support-list .ft {
	padding: 0px 20px;
} /*send-cnt css*/
.send-cnt {
	width: 566px;
	border: 1px solid #e4e4e4;
	padding: 10px 10px 0px;
}

.send-cnt textarea {
	width: 100%;
	background: none;
	border: none;
	height: 66px;
	overflow-y: auto;
	overflow-x: hidden;
	outline: none;
	word-break: break-word;
	font-size: 14px;
}

.insert-fun {
	height: 18px;
	padding: 0px 0px 5px;
}

.insert-fun a {
	width: 18px;
	height: 18px;
	display: block;
	font-size: 1px;
	line-height: 1px;
	text-indent: -9999px;
}

.insert-fun .insert-face,.insert-fun .insert-pic,.insert-fun .insert-video
	{
	float: left;
	padding: 0px 5px;
	border-left: 1px solid #e6e6e6;
}

.insert-fun .insert-face,.insert-fun .insert-pic {
	border: none;
}

.insert-face a {
	background-position: -31px -119px;
}

.insert-pic a {
	background-position: -55px -119px;
}

.insert-pic input {
	display: block;
	opacity: 0;
	width: 25px;
	position: absolute;
	cursor: pointer;
	filter: alpha(opacity = 0);
}

.insert-video a {
	background-position: -79px -119px;
}

.insert-video {
	position: relative;
}

.insert-video .textinput-wrap {
	position: absolute;
	left: 30px;
	top: 2px;
}

.textinput-wrap i {
	width: 6px;
	height: 14px;
	display: block;
	position: absolute;
	left: -5px;
	top: 4px;
	background-position: -173px -151px;
}

.textinput-wrap .input-url {
	width: 300px;
	height: 22px;
	box-shadow: 0px 0px 3px #DDD;
	font-size: 12px;
	padding: 3px 20px 3px 5px;
	border: 1px solid #E4E4E4;
	border-radius: 5px;
	position: relative;
	behavior: url(static/zhongchou/css/phoenix/PIE.htc);
}

.insert-video .textinput-wrap a {
	position: absolute;
	right: 0;
	top: 8px;
	background-position: -131px -120px;
} /*func-area css*/
.video {
	margin-bottom: 10px;
}

.func-area {
	width: 100%;
	padding: 10px 0px;
}

.func-area .media-list {
	width: 100%;
}

.func-area .login-prompt {
	float: right;
	line-height: 30px;
	padding-right: 5px;
}

.login-prompt a {
	color: #ed5e58;
}

.func-area .send-btn {
	float: right;
}

.func-area .media-list ul li a span i {
	background-position: -132px -95px;
}

.group-read {
	width: 100%;
	padding: 10px 0px;
	line-height: 20px;
	border-bottom: 1px solid #e4e4e4;
}

.group-read ul li {
	float: left;
	padding-right: 5px;
	height: 20px;
}

.talk-list {
	padding: 20px 0px 0px;
	border-bottom: 1px solid #e4e4e4;
	position: relative;
}

.talk-list .talk-fun {
	position: absolute;
	right: 15px;
	top: 20px;
}

.talk-face {
	float: left;
	width: 60px;
	padding: 10px 0px;
}

.talk-face a {
	width: 48px;
	height: 48px;
	display: block;
	float: left;
}

.talk-face img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: relative;
	behavior: url(static/zhongchou/css/phoenix/PIE.htc);
}

.talk-face .author-lay {
	float: left;
	margin: 5px 0px 0px 3px;
}

.msg-box {
	margin-left: 68px;
}

.msg-box .user-name {
	line-height: 26px;
}

.msg-box .user-name a {
	font-size: 14px;
	color: #ED5E58;
}

.msg-cnt {
	font-size: 14px;
	padding-bottom: 10px;
	word-wrap: break-word;
}

.media-list {
	width: 100%;
}

.media-list ul li {
	width: 46px;
	height: 50px;
	padding: 0px 10px 10px 0px;
	float: left;
}

.media-list ul li a {
	width: 50px;
	height: 50px;
	display: block;
	position: relative;
}

.media-list ul li a img {
	width: 50px;
	height: 50px;
}

.media-list ul li a span {
	width: 50px;
	height: 50px;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
}

.media-list ul li a:hover span {
	display: block;
}

.media-list ul li a span em {
	width: 100%;
	height: 100%;
	background: #000;
	display: block;
	text-indent: -9999px;
	filter: alpha(opacity = 40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}

.media-list ul li a span i {
	width: 20px;
	height: 20px;
	display: block;
	background-position: -79px -95px;
	position: absolute;
	left: 15px;
	top: 15px;
	z-index: 5;
}

.talk-handle {
	line-height: 22px;
	padding-bottom: 5px;
}

.talk-handle a {
	color: #ED5E58;
	margin: 0px 5px;
	display: inline-block;
}

.media-expand {
	width: 100%;
	padding-bottom: 10px;
}

.comment-input {
	width: 500px;
	background: #f3f3f3;
	padding: 10px;
	position: relative;
}

.comment-input textarea {
	width: 488px;
	padding: 5px;
	background: #FFF;
	border: 1px solid #e4e4e4;
	height: 22px;
	overflow-y: auto;
	overflow-x: hidden;
	outline: none;
	word-break: break-word;
	font-size: 14px;
}

.bot {
	width: 100%;
	padding: 5px 0px 0px;
}

.bot .insert-fun {
	padding: 5px 0px 0px;
}

.bot .send-btn a {
	width: 50px;
	height: 22px;
	display: block;
	text-align: center;
	color: #FFF;
	background: #ed5f59;
} /*comment list css*/
.comment-lists {
	width: 100%;
	padding: 10px 0px;
}

.comment-lists dl {
	padding: 5px 0px;
}

.comment-lists dl dt {
	float: left;
}

.comment-lists dl dt a {
	width: 24px;
	height: 24px;
	display: block;
}

.comment-lists dl dt a img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	behavior: url(static/zhongchou/css/phoenix/PIE.htc);
}

.comment-lists dl dd {
	margin-left: 32px;
}

.comment-lists dl dd .fl {
	width: 400px;
	word-wrap: break-word;
}

.comment-lists dl dd a {
	color: #ed5f59;
}

.comment-lists dl dd .fr a {
	margin-left: 10px;
}

.reply-input {
	width: 468px;
	background: #f3f3f3;
	padding: 10px;
}

.comment-lists dl dd .reply-input {
	float: left;
	margin-top: 5px;
}

.reply-input textarea {
	width: 456px;
	padding: 5px;
	background: #FFF;
	border: 1px solid #e4e4e4;
	height: 22px;
	overflow-y: auto;
	overflow-x: hidden;
	outline: none;
	word-break: break-word;
	font-size: 14px;
} /*system message css*/
.icon-com-top {
	display: inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 0;
	font-size: 0;
	vertical-align: middle;
	border-bottom: 7px solid #F3F3F3;
	border-top: 0 none;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	_color: #FFF;
	_filter: chroma(color = #FFF);
}

.icon-com-left {
	display: inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 0;
	font-size: 0;
	vertical-align: middle;
	border-right: 10px solid #F3F3F3;
	border-left: 0 none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	_color: #FFF;
	_filter: chroma(color = #FFF);
}

.comment-input .icon-com-top {
	position: absolute;
	right: 20px;
	top: -7px;
}

.msg-system .icon-com-left {
	position: absolute;
	left: -10px;
	top: 25px;
}

.msg-system {
	background: #F3F3F3;
	width: 497px;
	padding: 5px 10px;
	position: relative;
	margin-bottom: 20px;
}

.msg-system-hd {
	width: 100%;
	padding-bottom: 5px;
}

.msg-system-hd .btn-base {
	vertical-align: middle;
}

.msg-system-bd {
	width: 100%;
	height: auto;
}

.msg-system-bd ul li {
	width: 30px;
	height: 30px;
	padding: 0px 10px 0px 0px;
	float: left;
}

.msg-system-bd ul li a {
	width: 30px;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	display: block;
	border-radius: 50%;
	background: #FFF;
	position: relative;
	behavior: url(static/zhongchou/css/phoenix/PIE.htc);
}

.msg-system-bd ul li a img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
	behavior: url(static/zhongchou/css/phoenix/PIE.htc);
}

.msg-system-bd p {
	font-size: 14px;
	padding-bottom: 5px;
}

.msg-plan {
	position: absolute;
	right: 10px;
	top: 15px;
}

.msg-plan p {
	padding: 18px 5px 0px 0px;
	color: #555;
	height: 22px;
	float: left;
}

.rotate-box {
	width: 70px;
	height: 35px;
	position: relative;
	overflow: hidden;
	float: left;
}

.rotate-val {
	width: 70px;
	height: 20px;
	line-height: 20px;
	padding: 15px 0px 0px;
	text-align: center;
	font-size: 18px;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 4;
}

.rotate-bg {
	width: 70px;
	height: 70px;
	background: url(../images/phoenix/common/bg-rotate.png?v=101) no-repeat
		0px -77px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}

.rotate-size {
	width: 70px;
	height: 70px;
	background: url(../images/phoenix/common/bg-rotate.png?v=101) no-repeat
		0 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
} /*support css*/
.support-box {
	width: 588px;
	overflow: hidden;
}

.support-box ul {
	width: 610px;
}

.support-box ul li {
	width: 246px;
	height: 51px;
	padding: 18px;
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
	border-radius: 2px;
	float: left;
	_display: inline-block;
	margin: 0px 20px 20px 0px;
}

.sup-face {
	float: left;
}

.sup-face img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: relative;
	behavior: url(static/zhongchou/css/phoenix/PIE.htc);
}

.sup-info {
	margin-left: 58px;
	width: 185px;
}

.sup-hd {
	width: 100%;
	height: 26px;
}

.sup-hd .sup-name {
	float: left;
	font-size: 16px;
}

.sup-hd .btn-base {
	float: right;
	vertical-align: middle;
}

.support-box ul li:hover,.support-box ul li.active {
	border: 1px solid #f6afac;
} /*detail-con*/
.detail-con .comment {
	padding: 15px 15px 0;
}

.detail-con .flbq {
	border-bottom: none;
	border-top: 1px dotted #CCCCCC;
	padding: 10px 0 0;
} /*sponsor-topic-box*/
.sponsor-topic-box {
	padding: 0 0 20px;
}

.sponsor-topic-con {
	padding: 0 0 20px;
}

.sponsor-topic-con .hd,.sponsor-topic-con .bd {
	width: 600px;
	margin: 0 auto;
}

.sponsor-topic-con .hd {
	padding: 15px 0 0;
}

.sponsor-topic-con .hd h3 {
	font-size: 20px;
	float: left;
	line-height: 26px;
	color: #000;
}

.sponsor-topic-con .hd a {
	font-size: 14px;
	float: right;
	line-height: 26px;
	color: #ED5E58;
	margin-left: 10px;
}

.sponsor-topic-con .bd {
	background: url(../images/phoenix/icon/topic-bg-line.png?v=101) repeat-y
		84px 0;
}

.sponsor-tips {
	width: 560px;
	margin: 20px auto 10px;
	padding: 5px 10px 5px 25px;
	border-radius: 5px;
	border: 1px solid #DDD;
	background: url(../images/phoenix/icon/icon-pling.png?v=101) no-repeat
		5px 8px;
}

.sponsor-nav {
	height: 50px;
	padding: 10px 0 0 60px;
	background: #FFF;
}

.sponsor-nav .sponsor-face {
	float: left;
}

.sponsor-nav .sponsor-face img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.sponsor-nav .author {
	margin-left: 60px;
	padding: 13px 0 0;
}

.topic-box {
	background: url(../images/phoenix/icon/topic-bg-shade.png?v=101)
		no-repeat 84px 100%;
}

.topic-box .talk-list {
	position: relative;
	margin: 0;
	padding: 10px 0 5px 100px;
	border: none;
}

.topic-box .talk-list .topic-time {
	width: 78px;
	padding: 0 10px 0 0;
	text-align: right;
	color: #999;
	position: absolute;
	left: 0;
	top: 14px;
	background: url(../images/phoenix/icon/topic-round.png?v=101) no-repeat
		100% 0px;
}

.topic-time span {
	width: 100%;
	display: block;
	line-height: 14px;
}

.topic-box .talk-list .msg-box {
	margin: 0;
	border-bottom: 1px dashed #E4E4E4;
}

.sponsor-topic-con .media-expand {
	position: relative;
}

.sponsor-topic-con .reply-input {
	width: 443px;
}

.sponsor-topic-con .reply-input textarea {
	width: 431px;
}

.sponsor-topic-con .topic-box .comment-lists .send-btn {
	padding: 0;
	width: auto;
} /*support common*/
.topic-box .comment-input {
	width: 475px;
}

.topic-box .comment-input textarea {
	width: 464px;
}

.topic-box .comment-lists dl dd .fl {
	width: 380px;
}

.topic-box .comment-lists dl dd .fr {
	width: 75px;
	text-align: right;
	padding: 0 10px 0 0;
} /*pro-focus-con*/
.pro-focus-con {
	width: 308px;
	height: 200px;
	border: 1px solid #E5E5E5;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
}

.pro-focus-con ul {
	position: absolute;
	top: 0;
}

.pro-focus-con ul li {
	width: 308px;
	height: 200px;
	display: block;
	float: left;
}

.pro-focus-con ul li a {
	width: 308px;
	height: 200px;
	display: block;
}

.pro-focus-con ul li a img {
	width: 308px;
	height: 200px;
	border-radius: 3px;
}

.preNext {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	width: 20px;
	height: 50px;
	background: #000;
	display: block;
	cursor: pointer;
}

.prevNext span {
	width: 25px;
	height: 60px;
	display: block;
	cursor: pointer;
}

.btn-prev {
	background: #000 url(../images/phoenix/icon/left-arrow.png?v=101)
		no-repeat 50% 50%;
}

.btn-next {
	background: #000 url(../images/phoenix/icon/right-arrow.png?v=101)
		no-repeat 50% 50%;
} /*zhongchouweb SEO-1*/
.crowdfunding-seo .hd,.crowdfunding-seo .bd {
	width: 920px;
}

.crowdfunding-seo .sponsor-tips {
	width: 885px;
} /*zhongchouweb SEO-3*/
.crowdfunding-seo1 .comment-input {
	width: 830px;
}

.crowdfunding-seo1 .comment-lists dl dd .fl {
	width: 700px;
}

.crowdfunding-seo1 .reply-input {
	width: 798px;
}

.crowdfunding-seo1 .comment-input textarea {
	width: 819px;
}

.crowdfunding-seo1 .reply-input textarea {
	width: 786px;
} /*roadshow*/
.choose-return {
	padding: 20px 0;
	font-size: 16px;
}

.roadshow-wrap {
	border-top: 1px solid #e5e5e5
}

.roadshow-list {
	padding: 0 23px 0 0;
	border: 1px solid #fff;
	position: relative;
}

.roadshow-number,.roadshow-select {
	background: url(../images/phoenix/icon/roadshow-choose.png?v=101)
		no-repeat;
	width: 28px;
	height: 28px;
}

.roadshow-number {
	line-height: 28px;
	text-align: center;
	font-size: 24px;
	color: #48b4dc;
	margin-top: -2px;
	background-position: right 0;
	margin-left: 8px;
	float: left;
	display: inline;
}

.roadshow-intro {
	line-height: 20px;
	padding: 18px 0 14px 8px;
}

.roadshow-select {
	background-position: left 0;
	position: absolute;
	right: -2px;
	bottom: -2px;
	display: none;
}

.roadshow-hover .roadshow-list {
	background-color: #f6f6f6
}

.roadshow-hover .roadshow-select,.roadshow-click .roadshow-select {
	display: inline
}

.roadshow-select:hover {
	background-position: -28px 0;
}

.roadshow-progress {
	float: left;
	display: none;
}

.roadshow-progress span {
	padding: 2px 11px 0 9px;
	font-size: 22px;
	color: #48b4dc;
	float: left;
}

.roadshow-click .roadshow-progress {
	display: block;
}

.roadshow-l {
	width: 5px;
	position: absolute;
	left: 0;
	top: 0;
	height: 16px;
	background: url(../images/phoenix/icon/b-circle.png?v=101);
	overflow: hidden;
}

.roadshow-r {
	height: 16px;
	background: url(../images/phoenix/icon/roadshow-progress.png?v=101)
		no-repeat right 0;
	overflow: hidden;
}

.baise {
	margin-top: 4px;
	width: 180px;
	position: relative;
	height: 16px;
	float: left
}

.baise2 .roadshow-r {
	background-position: right -16px
}

.baise2 span {
	color: #e64c65
}

.baise2 .roadshow-number {
	color: #e64c65
} /*zhongchouweb SEO-Sub project details*/
.sub-project-details {
	padding: 5px 20px;
}

.sub-project-details dt {
	float: left;
	margin-right: 8px;
	padding-bottom: 8px;
}

.sub-project-details dt img {
	display: block
}

.talk-handle {
	width: 100%;
}

.comment_user .usename {
	color: #D23D3E;
	display: block;
	float: left;
}

.comment_user .pass_time {
	color: #B4B4B4;
}

.comment_op {
	float: right;
	font-size: 12px;
}

.reply_box {
	display: none;
}

a.delcomment,a.replycomment {
	color: #CD3D3C;
	padding-left: 15px;
}

a.linkred {
	color: #D23D3E;
	text-decoration: none;
}

a.linkred:hover {
	color: #D23D3E;
	text-decoration: none;
}

.ui-button {
	float: right;
	padding-left: 5px;
}

.ui-button span {
	background: url(../images/pro_surport.png?v=101) no-repeat scroll 0
		-35px;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 71px;
}

.usermessage textarea {
	height: 118px;
	margin-top: 10px;
	width: 447px;
}

a.linkgreen {
	color: #ED5E58;
	text-decoration: none;
}

a.linkgreen:hover {
	color: #C05043;
	text-decoration: none;
}

.comment {
	padding: 15px;
}

.cmtit {
	background: none repeat scroll 0 0 #EEEEEE;
	overflow: hidden;
	padding: 10px 15px;
}

.cmtit li {
	float: left;
}

.cmtit li a {
	background: url(../images/phoenix/icon/zan.png?v=101) no-repeat scroll 0
		0;
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 0 25px;
}

.cmtit li.pl a {
	background-position: 0 4px;
}

.cmtit li.cz a {
	background-position: 0 -41px;
}

.cmtit li.gz a {
	background-position: 0 -88px;
}

.cmtit li.fx a {
	background-position: 0 -131px;
}

.cmtit li.pl a:hover {
	background-position: 0 -16px;
}

.cmtit li.cz a:hover {
	background-position: 0 -67px;
}

.cmtit li.gz a:hover {
	background-position: 0 -110px;
}

.cmtit li.fx a:hover {
	background-position: 0 -153px;
}

.tjpl {
	margin-top: 10px;
	overflow: hidden;
	padding-bottom: 10px;
}

.ren {
	float: left;
	height: 80px;
	overflow: hidden;
	width: 80px;
}

.pln_r {
	float: right;
	width: 582px;
}

.pln_r textarea {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #666666;
	font-size: 12px;
	height: 80px;
	width: 580px;
}

.hfu .kuang {
	display: none;
	margin-top: 10px;
}

.bq {
	overflow: hidden;
}

.bq li {
	float: left;
}

.bq li.xl {
	background: url(../images/xq_coin.png?v=101) no-repeat scroll 0 -137px;
	padding-left: 20px;
}

.bq .fb {
	float: right;
	margin-top: 8px;
	font-weight: normal;
}

.pln_r h3 {
	overflow: hidden;
}

.pln_r h3 span.tit {
	float: left;
	font-size: 14px;
	font-weight: bold;
}

.pln_r h3 span.time {
	color: #999999;
	float: right;
	font-size: 12px;
	padding-right: 15px;
}

.pln_r p {
	line-height: 22px;
}

.pln_r p a.red {
	color: #CC0033;
	padding: 0 10px;
}

.comment-content {
	font-size: 12px;
	line-height: 18px;
	padding: 0 10px 10px;
}

.comment-content textarea {
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #666666;
	font-size: 14px;
	height: 18px;
	padding: 5px;
	width: 448px;
}

.comment-content textarea.inputing {
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #666666;
	font-size: 14px;
	height: 60px;
	padding: 5px;
	width: 448px;
}

.reply_content textarea {
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #666666;
	font-size: 14px;
	height: 60px;
	padding: 5px;
	width: 412px;
}

.comment-btn {
	display: none;
	padding: 0 10px;
}

.syn_weibo {
	float: left;
}

.syn_weibo input {
	float: left;
}

.syn_weibo span {
	float: left;
	font-size: 12px;
	line-height: 18px;
}

.comment_item {
	border-top: 1px dotted #CCCCCC;
	margin: 0 auto;
	padding: 10px 0px;
	width: 480px;
}

.comment_user_avatar {
	border-radius: 50%;
	float: left;
	height: 34px;
	overflow: hidden;
	width: 34px;
}

.comment_user_avatar img {
	height: 34px;
	width: 34px;
}

.comment_content {
	float: left;
	font-size: 12px;
	line-height: 18px;
	margin-left: 10px;
	width: 424px;
}

.comment_op {
	float: right;
	font-size: 12px;
}

.pass_time {
	color: #CCCCCC;
}

.reply_box {
	display: none;
}

p.rep {
	padding: 0;
}

p.rep a.red,a.delcomment,a.replycomment {
	color: #CC0033;
	padding-left: 10px;
}

.blank {
	clear: both;
	height: 10px;
	line-height: 10px;
	visibility: hidden;
}

.blank5 {
	clear: both;
	height: 5px;
	line-height: 5px;
	visibility: hidden;
}

.pingsz {
	overflow: hidden;
}

.newcont .ping {
	padding: 15px;
}

.newdt {
	background: url(../images/xq_coin.png?v=101) no-repeat scroll -2px -32px;
	color: #8D8D8D;
	font-size: 14px;
	padding-left: 25px;
}

navlist {
	overflow: hidden;
}

.newdt {
	background: url(../images/xq_coin.png?v=101) no-repeat scroll -2px -32px;
	color: #8D8D8D;
	font-size: 14px;
	padding-left: 25px;
}

.bl-gray {
	border-left: 3px solid #D7D7D7;
	margin-left: 7px;
}

.tishi {
	margin-top: 3px;
}

.tkuang {
	background: none repeat scroll 0 0 #F9F1E2;
	border: 1px solid #F1D39C;
	border-radius: 3px;
	color: #CB8E1B;
	font-size: 14px;
	margin-left: 25px;
	padding: 5px;
	text-align: center;
}

.gxin {
	padding: 10px 0;
}

.gxin span {
	margin-left: 25px;
}

.qdong,.jxz {
	padding-top: 10px;
	position: relative;
}

.quan,.quan-jxz,.quan-yjs {
	background: url(../images/quan_dian.png?v=101) no-repeat scroll 0 0;
	height: 15px;
	left: -9px;
	position: absolute;
	top: 33px;
	width: 15px;
}

.quan {
	background-position: 0 0;
}

.quan-jxz {
	background-position: 0 -20px;
}

.quan-yjs {
	background-position: 0 -40px;
}

.pkuang {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #D7D7D7;
	border-radius: 3px;
	margin-left: 25px;
	padding: 0 15px 15px;
	position: relative;
}

.jiao,.jiao-gray {
	background: url(../images/jjiao.png?v=101) no-repeat scroll 0 0;
	position: absolute;
}

.jiao {
	background-position: 0 0;
	height: 14px;
	left: -11px;
	position: absolute;
	top: 24px;
	width: 11px;
}

.bl-gray h3 {
	line-height: 31px;
	overflow: hidden;
}

.bl-gray h3 .tit {
	background: url(../images/gray-btn.jpg?v=101) no-repeat scroll 0 0;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 14px;
	height: 31px;
	line-height: 31px;
	margin-left: 15px;
	text-align: center;
	width: 80px;
}

.bl-gray h3 .time {
	color: #999999;
	display: block;
	float: left;
	margin-left: 15px;
}

.pcont {
	background: none repeat scroll 0 0 #F6F6F6;
	border-radius: 3px;
	padding: 15px;
	position: relative;
	width: 485px;
}

.pkuang p {
	padding: 10px 0;
}

.jiao-gray {
	background-position: 0 bottom;
	height: 14px;
	right: 30px;
	top: -14px;
	width: 14px;
}

.botline {
	border-bottom: 1px dotted #CCCCCC;
	clear: both;
	display: block;
	height: 0;
	margin: 10px 0;
	width: 100%;
}

.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp
	{
	border: 0 none;
	margin: 0;
	outline: medium none;
	padding: 0;
	vertical-align: top;
}

.fancybox-wrap {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 8020;
}

.fancybox-skin {
	background: none repeat scroll 0 0 #F9F9F9;
	border-radius: 4px;
	color: #444444;
	position: relative;
	text-shadow: none;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer,.fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	
}

.fancybox-error {
	color: #444444;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image,.fancybox-iframe {
	display: block;
	height: 100%;
	width: 100%;
}

.fancybox-image {
	max-height: 100%;
	max-width: 100%;
}

#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span
	{
	background-image: url(../images/fancybox_sprite.png?v=101);
}

#fancybox-loading {
	background-position: 0 -108px;
	cursor: pointer;
	height: 44px;
	left: 50%;
	margin-left: -22px;
	margin-top: -22px;
	opacity: 0.8;
	overflow: hidden;
	position: fixed;
	top: 50%;
	width: 44px;
	z-index: 8060;
}

#fancybox-loading div {
	background: url(../images/fancybox_loading.gif?v=101) no-repeat scroll
		center center;
	height: 44px;
	overflow: hidden;
	width: 44px;
}

.fancybox-close {
	cursor: pointer;
	height: 36px;
	position: absolute;
	right: -18px;
	top: -18px;
	width: 36px;
	z-index: 8040;
}

.fancybox-nav {
	background: url(../images/blank.gif?v=101) repeat scroll 0 0;
	cursor: pointer;
	height: 100%;
	position: absolute;
	text-decoration: none;
	top: 0;
	width: 40%;
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	cursor: pointer;
	height: 34px;
	margin-top: -18px;
	position: absolute;
	top: 50%;
	visibility: hidden;
	width: 36px;
	z-index: 8040;
}

.fancybox-prev span {
	background-position: 0 -36px;
	left: 10px;
}

.fancybox-next span {
	background-position: 0 -72px;
	right: 10px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	left: -99999px;
	max-height: 99999px;
	max-width: 99999px;
	overflow: visible !important;
	position: absolute;
	top: -99999px;
	visibility: hidden;
}

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	background: url(../images/fancybox_overlay.png?v=101) repeat scroll 0 0;
	display: none;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 8010;
}

.fancybox-overlay-fixed {
	bottom: 0;
	position: fixed;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow-x: auto;
	overflow-y: scroll;
}

.fancybox-title {
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	text-shadow: none;
	visibility: hidden;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	bottom: 0;
	margin-bottom: -35px;
	position: absolute;
	right: 50%;
	text-align: center;
	z-index: 8050;
}

.fancybox-title-float-wrap .child {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	color: #FFFFFF;
	display: inline-block;
	font-weight: bold;
	line-height: 24px;
	margin-right: -100%;
	padding: 2px 20px;
	text-shadow: 0 1px 2px #222222;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	color: #FFFFFF;
	margin-top: 10px;
	position: relative;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	bottom: 0;
	color: #FFFFFF;
	left: 0;
	padding: 10px;
	position: absolute;
}

.zchi-ren {
	padding: 0 15px;
}

.zchi-ren ul li {
	background: none repeat scroll 0 0 #FAFAFA;
	border-radius: 15px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	display: inline;
	float: left;
	height: 117px;
	margin: 20px 22px 0;
	overflow: hidden;
	position: relative;
	width: 305px;
}

.zchi-ren ul li span {
	display: block;
}

.zchi-ren ul li a.yimg {
	background: url(../images/pro_surss.jpg?v=101) no-repeat scroll 0 0;
	display: block;
	height: 117px;
	width: 124px;
}

.zchi-ren ul li img {
	height: 117px;
	width: 125px;
}

.zchi-ren ul li .info {
	color: #A0A0A0;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 146px;
}

.zchi-ren ul li .info .zje {
	margin-bottom: 10px;
}

.zchi-ren ul li .info .tit {
	color: #565656;
	font-size: 18px;
	margin-bottom: 5px;
}

.zchi-ren ul li .info .red {
	color: #ED5E58;
	display: inline;
	font-size: 16px;
	margin-left: 5px;
}

.btn-fsx {
	background: url(../images/pro_surport.png?v=101) no-repeat scroll 0 0;
	border: medium none;
	cursor: pointer;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 73px;
}

.btn-fsx a:link,.btn-fsx a:visited {
	color: #FFFFFF;
}

.popup_box_content {
	padding: 20px 30px;
	background: #FFF;
	border-radius: 5px;
}

.ui-text {
	width: 100%;
}

.ui-text .txt01 {
	width: 420px;
	padding: 5px;
	height: 70px;
	border: 1px solid #DDD;
	border-radius: 3px;
}

.ui-up {
	padding: 10px 0px;
}

.upfile {
	background: url(../images/icon-btn.gif?v=101) no-repeat scroll left
		bottom transparent;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 32px;
	line-height: 30px;
	text-align: center;
	width: 96px;
	float: left
}

.upinfo {
	float: left;
	margin-left: 10px;
	height: 32px;
	line-height: 32px;
}

.upinfo img {
	margin: 2px 5px 0 0;
	float: left;
}

.uppic {
	overflow: hidden
}

.uppic span {
	position: relative;
	display: inline;
	margin-right: 10px;
	width: 67px;
	height: 53px;
	float: left;
}

.uppic span img {
	width: 53px;
	height: 53px;
}

.uppic span a {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 11px;
	background: url(../images/close_link.jpg?v=101) no-repeat
}

.uppic span a:hover {
	background: url(../images/close_hover.jpg?v=101) no-repeat
}

.uppic .com_btn {
	background: url(../images/player_btn.png?v=101) 0 0 no-repeat;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	height: 38px;
	line-height: 38px;
	margin-top: 9px;
	width: 95px;
	float: right
}

.cha a.ck {
	width: 150px;
	height: 38px;
} /*com-pro*/
.flbq {
	border-bottom: 1px dotted #CCCCCC;
	overflow: hidden;
	padding: 10px 0;
}

.flei,.bqian {
	float: left;
}

.flei {
	padding-right: 30px;
}

.fqzl {
	background: none repeat scroll 0 0 #F5F5F5;
	margin-top: 10px;
	overflow: hidden;
}

.fqzl span {
	display: block;
	float: left;
}

.fqzl span.mz {
	line-height: 36px;
	margin-left: 5px;
}

.fqzl span.tx {
	border: 1px solid #D3D3D3;
	border-radius: 18px;
	height: 34px;
	overflow: hidden;
	width: 34px;
}

.fqzl span.fx {
	float: right;
	padding-top: 5px;
	text-align: right;
	width: 55px;
}

.jiathis_style {
	float: left;
	padding-top: 4px;
}

.com-pro .tjpl .pln_r {
	width: 500px;
}

.com-pro .tjpl .pln_r textarea {
	width: 488px;
	padding: 5px;
	height: 70px;
}

.com-pro .pln_r .fb .btn-red2 {
	background: url(../images/pro_surport.png?v=101) no-repeat 0 -35px;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 71px;
}

.com-pro .deal_comment_list {
	padding-top: 10px;
}

.com-pro .comment_item {
	width: 588px;
}

.com-pro .comment_content {
	width: 530px;
}

.com-pro .reply_content textarea {
	width: 518px;
	padding: 0px 5px;
}

.ren img {
	border-radius: 50%;
	position: relative;
	behavior: url(static/zhongchou/css/phoenix/PIE.htc);
}