.projects {
	min-height: 465px;
}

.item-figure {
	width: 300px;
	height: 225px;
	display: block;
	overflow: hidden;
	border-radius: 5px 5px 0px 0px;
}

.item-figure img {
	width: 300px;
	height: 225px;
	border-radius: 5px 5px 0px 0px;
	position: relative;
}

.item-figure img:hover {
	opacity: 0.90;
	filter: alpha(opacity = 90);
}

.item-upvote {
	width: auto;
	height: 24px;
	text-align: right;
	position: absolute;
	right: 55px;
	top: 15px;
}

.item-upvote a {
	width: auto;
	height: 27px;
	line-height: 27px;
	float: right;
	padding: 0px 8px 0px 20px;
	color: #ff5e43;
	border: 1px solid #e6e6e6;
	border-radius: 8px;
	display: block;
	background: #FFF url(../img/icons.png) no-repeat 3px 7px;
	position: relative;
}

.item-upvote a:hover,.item-upvote .liked {
	background-color: #ff5e43;
	color: #FFF;
	border: 1px solid #ff5e43;
	background-position: 3px -12px;
}

.list-item h3 {
	text-align: left;
	padding: 0 12px;
	margin: 10px 0;
	font-size: 18px;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
}

.item-caption {
	padding: 0px 4px 8px;
	height: 20px;
	line-height: 20px;
	color: #A4A4A4;
}

.item-caption .caption-title {
	float: left;
}

.caption-title em {
	color: #555;
}

.item-caption .btn-base {
	float: right;
}

.common-sprite {
	color: #F07052;
}

a,a:hover {
	color: #555;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

.btn-red-h20 {
	background-position: -223px 0px;
	height: 20px;
	line-height: 20px;
}

.btn-red-h20 span {
	background-position: 100% -263px;
	height: 20px;
	line-height: 20px;
}

.progress-bar {
	width: 300px;
	height: 3px;
	line-height: 0px;
	font-size: 0px;
	background: #F2F2F2;
	overflow: hidden;
	margin-top: 3px;
}

.progress {
	height: 3px;
	line-height: 0px;
	font-size: 0px;
	display: block;
}

.bg-red {
	background: #FF6559;
}

.item-rate {
	padding: 8px 12px 0px;
	line-height: 18px;
	color: #A4A4A4;
	position: relative;
	padding-bottom: 10px;
}

.item-rate em {
	color: #555;
}

.item-rate em.red {
	color: #ED5E58;
}

.rate1 {
	display: block;
	float: left;
	text-align: left;
	width: 50px;
}

.rate2 {
	display: block;
	float: left;
	text-align: center;
	width: 155px;
}

.rate3 {
	display: block;
	float: right;
	text-align: right;
	width: 70px;
}

.quick-links {
	float: right;
	height: 22px;
	padding: 15px 0px 0px;
}

.word-break {
	word-break: break-all;
	word-wrap: break-word;
}

.author {
	padding: 5px 20px;
}

.author-lay {
	width: 42px;
	height: 22px;
	vertical-align: 0px;
	color: red;
	text-align: center;
	background-position: 0px -70px;
	margin-right: 5px;
}

.inline-block {
	display: inline-block;
	zoom: 1;
}

.author .gray {
	padding-left: 10px;
}

.gray {
	color: #A5A5A5;
}

.comment {
	padding-top: 15px;
}

.flbq {
	border-bottom: none;
	border-top: 1px dotted #CCCCCC;
	padding: 10px 0 0;
}

.flei {
	padding-right: 30px;
}

.flei,.bqian {
	float: left;
}

.fr {
	float: right;
}

.red {
	color: red;
}

.support-box {
	width: 100%;
	overflow: hidden;
}

.support-box ul {
	width: 610px;
}

.clearfix {
	display: block;
}

ol,ul,li {
	list-style: none;
}

.support-box ul li {
	width: 246px;
	height: 87px;
	padding: 18px;
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
	border-radius: 2px;
	float: left;
	_display: inline-block;
	margin: 0px 20px 20px 0px;
}

.sup-face {
	float: left;
}

.sup-info {
	margin-left: 58px;
	width: 185px;
}

.sup-hd {
	width: 100%;
	height: 26px;
}

.support-box ul li:hover,.support-box ul li.active {
	border: 1px solid #f6afac;
}

.sup-face img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: relative;
	behavior: url(static/zhongchou/css/phoenix/PIE.htc);
}

.comment_user_avatar,.sup-face img {
	transition: all 1.2s ease-out 0s;
}

.setting-content {
	border: 1px solid #d6d6d6;
	background: #f0f0f0;
	position: relative;
}

.clearfix {
	display: block;
}

.setting-menu ul {
	padding: 0px;
}

.setting-menu ul li.select {
	width: 100%;
	height: 60px;
	position: relative;
	z-index: 3;
}

.setting-menu ul li {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #d6d6d6;
}

.setting-menu ul li.select a {
	width: 185px;
	height: 59px;
	background-color: #FFF;
	padding: 15px 0px 15px 35px;
	color: #ed5f59;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 5;
	border-left: 5px solid #ed615b;
}

.setting-menu ul li a {
	width: 185;
	height: 59px;
	display: block;
	line-height: 30px;
	font-size: 16px;
	padding: 15px 0px 15px 35px;
	border-left: 5px solid #F0F0F0;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	height: 59px;
}

.setting-title {
	background: #FFF;
}

.setting-detail {
	float: right;
	width: 687px;
	min-height: 465px;
	_height: 465px;
	padding: 40px 25px 20px;
	background: #FFF;
	border-left: 1px solid #d6d6d6;
	position: relative;
	z-index: 2;
}

.portrait-setbox {
	padding: 20px 30px 30px;
	border-bottom: 1px solid #ededed;
}

.area-val {
	width: 160px;
	height: 150px;
}

.area-fun {
	padding-left: 20px;
}

.fl {
	float: left;
}
.area-val img{
	width: 100%;
height: 100%;
}